.mainbox__category-box__detail-box__element-box
  %i.fas.fa-star.details-icon
  .mainbox__category-box__detail-box__element-box__text 商品の状態
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text すべて
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 新品、未使用
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 未使用に近い
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 目立った傷や汚れなし
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text やや傷や汚れあり
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 傷や汚れあり
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 全体的に状態が悪い
.mainbox__category-box__detail-box__check-title1
  %i.fas.fa-truck-moving.details-icon
  .mainbox__category-box__detail-box__check-title1__text 発送料の負担
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text すべて
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 着払い(購入者負担)
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 送料込み(出品者負担)
.mainbox__category-box__detail-box__check-title2
  %i.fas.fa-shopping-cart.details-icon
  .mainbox__category-box__detail-box__check-title2__text 販売状況
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text すべて
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 販売中
.mainbox__category-box__detail-box__checkbox
  %input.mainbox__category-box__detail-box__checkbox__check{:name => '', :type => 'checkbox', :value => ''}
  .mainbox__category-box__detail-box__checkbox__text 売り切れ
