.mainbox__main-contents
  / プロフィール画像欄
  = render partial: 'users/prof-box'
  / お知らせ・やることリスト欄
  = render partial: 'users/main-tab-box'


  .mainbox__main-contents__item-box 購入した商品
  = render partial: 'users/item-tab-box'
