= link_to do
  .mainbox__main-contents__prof-box
    .mainbox__main-contents__prof-box__icon
      .mainbox__main-contents__prof-box__icon__space
      .mainbox__main-contents__prof-box__icon__photo
      .mainbox__main-contents__prof-box__icon__name 名前
    .mainbox__main-contents__prof-box__score
      .mainbox__main-contents__prof-box__score__text1 評価
      .mainbox__main-contents__prof-box__score__value 0
      .mainbox__main-contents__prof-box__score__text2 出品数
      .mainbox__main-contents__prof-box__score__exhibits 0
