= link_to do
  .mainbox__main-contents__contents-tab__box
    .mainbox__main-contents__contents-tab__box__icon
    .mainbox__main-contents__contents-tab__box__text お知らせお知らせ
    .mainbox__main-contents__contents-tab__box__time 1時間前
    %i2.far.fa-clock
    %i3.fa.fa-chevron-right
