= link_to '#', class: 'card' do
  .card__photo
    = image_tag 'common/sample_shoe.jpg', alt: '商品画像'
  .card__body
    %h3.card__body__head すごい靴
    .card__body__content
      .card__body__content__price  ¥1,800
      .card__body__content__like
        %i.far.fa-heart
        %span 2
      .card__body__content__tax (税込)