
.sell{
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-size: 14px;
    padding: 0 0 20px;
  .sell-main{
    display: block;
    &__container{
      width: 700px;
      margin: 0 auto;
      background: #fff;
      .sell-main__inner{
        border: solid;
        border-width: 0;
        .form-title{
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          font-weight: 600;
        }
        .sell-form{
          border-top: 1px solid #eee;
          &__upload{
            width: 620px;
            padding: 40px 0 40px 0;
            box-sizing: inherit;
            margin: 0 auto;
            &__head{
              font-size: 16px;
              display: flex;
              font-weight: 600;
              padding-top: 20px;
              display: inline-block;
            }
            &__dropbox{
              display: block;
              width: 620px;
            }
            &__dropitem{
              position: relative;
              min-height: 162px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              font-size: 0;
              text-align: center;
              width: 100%;
              padding: 40px;
              margin-top: 20px;
              &__file{
              visibility:hidden;
              }
              .item0-message{
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                transform: translate(0, -50%);
                white-space: pre-wrap;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

#image-file{
  float: left;
  flex: 1;
  width: 116px;
  margin: 0 0 10px 10px;
  border: 1px solid #eee;
  vertical-align: top;
  display: inline-block;
  margin-left: 0;
  line-height: 116px;
}


p{
  margin: 8px 0 0;
  line-height: 1.5;
}

.form-question{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
}

.sell-content{
  padding: 40px;
  border-top: 1px solid #eee;
}

.select-wrap{
  margin: 8px 0 0;
  position: relative;
  background: #fff;
  .select-default{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
}

.form-group{
  margin: 0;
  display: block;
  label{
    padding-top: 20px;
    font-weight: 600;
    display: inline-block;
  }
}

.form-require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  // vertical-align: top;
}

.form-any{
  background: #ccc;
  @include form-require
}

.input-default{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default{
  margin: 8px 0 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.sell-content.clearfix{
  padding: 40px;
  border-top: 1px solid #eee;
  .sell-content-head{
    color: #888;
    font-size: 14px;
  }
}


.sell-form-box{
  margin: 20px 0 0;
  .sell-price{
    list-style: none;
    &__group{
      padding: 0 0 24px;
      border: 0;
      margin: 0;
      .clearfix{
        margin: 0;
        padding: 0;
        display: flex;
        .sell-price__group__left{
          width: 50%;
          line-height: 48px;
          float: left;
          font-weight: 600;
          padding-top: 5px;
        }
        .sell-price__group__input{
          width: 50%;
          float: right;
          text-align: right;
          .clearinput{
            display: inline-block;
            width: 80%;
            margin: 0 0 0 5%;
           .input-price{
            margin: 0;
            text-align: right;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
           }
          }
        }
      }
    }
  }
}

.contract{
  padding: 24px 0;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
  &__left{
    float: left;
  }
  &__right{
    float: right;
  }
}

.bold{
  font-size: 18px;
  font-weight: 600;
}

.profit{
  font-size: 26px;
}

.sell-btn-box{
  padding: 40px;
  border-top: 1px solid #eee;
  &__exhibit{
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border-radius: 15px;
  }
  &__out{
    width: 45%;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    display: block;
    border-radius: 15px;
  }
}

.flex-box{
  display: flex;
}

.itempreview{
  float: left;
  flex: 1;
  width: 116px;
  margin: 20px 15px 0px 0px;
  border: 1px solid #eee;
  display: inline-block;
  margin-left: 0;
  min-height: 116px;
}
