.mainbox {
  padding-top: 80px;
  background-color: $gray-back;
  height: 1391px;
  display: flex;
  &__identify-contents {
    margin-left: 120px;
    &__box {
      height: 1300px;
      width: 700px;
      background-color: white;
      &__title {
        height:48px;
        text-align: center;
        line-height: 48px;
        font-size: 24px;
        font-weight: bold;
        border: solid 1px $gray-back;
      }
      &__text1 {
        margin: 60px 60px 0 60px;
        font-size: 14px;
        font-weight: lighter;
      }
      &__text2 {
        margin: 0 60px;
        font-size: 14px;
        font-weight: lighter;
      }

      &__link1 {
        margin-top: 5px;
        margin-left: 385px;
        width: 240px;
        text-align: left;
        font-size: 14px;
        color: #0099e8;
        &:hover {
          color: #b3d4fc;
          border-bottom: solid 1px #0099e8;
        }
      }
      &__link2 {
        margin-top: 5px;
        margin-left: 464px;
        width: 154px;
        text-align: left;
        font-size: 14px;
        color: #0099e8;
        &:hover {
          color: #b3d4fc;
          border-bottom: solid 1px #0099e8;
        }
      }
      &__formbox {
        &__titlebox {
          margin: 20px 60px 0 60px;
          height: 30px;
          width: 580px;
          display: flex;
          &__text {
            font-size: 14px;
            font-weight: bold;
          }
          &__require {
            margin-left: 12px;
            height: 20px;
            width: 30px;
            border-radius: 10%;
            background-color: red;
            color: white;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }
          &__arbitrary {
            margin-left: 12px;
            height: 20px;
            width: 30px;
            border-radius: 10%;
            background-color: #ccc;
            color: white;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }
        }
        &__namebox {
          margin: 5px 60px;
          height: 48px;
          width: 520px;
          border: solid 1px #ccc;
          border-radius: 5px;
        }
        &__select {
          margin: 5px 60px;
          height: 48px;
          width: 520px;
          background-color: white;
          border: solid 1px #ccc;
          border-radius: 5px;
          cursor: pointer;
        }
        &__birthbox {
          margin: 5px 60px;
          height: 48px;
          width: 520px;
          display: flex;
          &__year {
            width: 160px;
          }
          &__texty {
            margin: 0;
            text-align: center;
            line-height: 48px;
            font-weight: 14px;
          }
          &__textd {
            margin-left: 5px;
            text-align: center;
            line-height: 48px;
            font-weight: 14px;
          }
        }
        &__text {
      margin-left: 60px;
      font-size: 14px;
      color: gray;
        }
      }
     &__text {
      margin-left: 120px;
      font-size: 12px;
      color: $gray-back;
     }
      &__btn {
        margin: 30px 60px 5px 60px;
        height: 48px;
        width: 520px;
        background-color: red;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
      }
    }
  }
  i4 {
    position: absolute;
    color: #0099e8;
    margin-top: -18px;
    margin-left: 624px;
    font-size: 14px;
  }
  i5 {
    position: absolute;
    color: #0099e8;
    margin-top: -18px;
    margin-left: 624px;
    font-size: 14px;
  }

  select {
    margin-left: 5px;
    height: 48px;
    width: 140px;
    background-color: white;
  }
}
