.mainbox__identify-contents__box__formbox
  .mainbox__identify-contents__box__formbox__titlebox
    .mainbox__identify-contents__box__formbox__titlebox__text お名前
    .mainbox__identify-contents__box__formbox__titlebox__require 必須
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  山田', :type => 'text', :value => ''}
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  彩', :type => 'text', :value => ''}
.mainbox__identify-contents__box__formbox
  .mainbox__identify-contents__box__formbox__titlebox
    .mainbox__identify-contents__box__formbox__titlebox__text お名前カナ
    .mainbox__identify-contents__box__formbox__titlebox__require 必須
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  ヤマダ', :type => 'text', :value => ''}
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  アヤ', :type => 'text', :value => ''}
