.mainbox__identify-contents__box__formbox
  .mainbox__identify-contents__box__formbox__titlebox
    .mainbox__identify-contents__box__formbox__titlebox__text 市区町村
    .mainbox__identify-contents__box__formbox__titlebox__arbitrary 任意
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  横浜市緑区', :type => 'text', :value => ''}
.mainbox__identify-contents__box__formbox
  .mainbox__identify-contents__box__formbox__titlebox
    .mainbox__identify-contents__box__formbox__titlebox__text 番地
    .mainbox__identify-contents__box__formbox__titlebox__arbitrary 任意
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  青山1-1-1', :type => 'text', :value => ''}
  .mainbox__identify-contents__box__formbox
  .mainbox__identify-contents__box__formbox__titlebox
    .mainbox__identify-contents__box__formbox__titlebox__text 建物名
    .mainbox__identify-contents__box__formbox__titlebox__arbitrary 任意
  %input.mainbox__identify-contents__box__formbox__namebox{:name => ' ', :placeholder => '例)  柳ビル103', :type => 'text', :value => ''}

