%select.mainbox__identify-contents__box__formbox__birthbox__form{:name => 'year'}
  %option{:value => ''} --
  %option 1990
  %option 1991
  %option 1992
  %option 1993
  %option 1994
  %option 1995
  %option 1996
  %option 1997
  %option 1998
  %option 1999
  %option 2000
  %option 2001
  %option 2002
  %option 2003
  %option 2004
  %option 2005
  %option 2006
  %option 2007
  %option 2008
  %option 2009
  %option 2010
  %option 2011
  %option 2012
  %option 2013
  %option 2014
  %option 2015
  %option 2016
  %option 2017
  %option 2018
  %option 2019
  %option 2020
  %option 2021









